header {
    width: 100%;
    position: absolute;
    text-align: center;
    padding: 2rem 0;
}

#hero {
    width: 100%;
    text-align: center;

    padding-top: 22rem;

    background: url(../img/BGG.jpg) no-repeat fixed;
    background-size: cover;


    a {
        padding: 1.5rem 4rem;
        border: 7px solid #000;
        border-radius: 10px;

        font-family: 'Roboto', sans-serif;
        font-size: 4rem;
        color: #000;
        font-weight: 800;
        -webkit-text-fill-color: #fff;
        -webkit-text-stroke-width: 2px;

        transition: .5s;
    }

    a:hover {
        background: #000;
    }

    .img2 {
        animation: 18s linear 0s infinite rot;
    }

    @keyframes rot {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}


#block-2 {
    width: 100%;
    padding-top: 2rem;

    background: url(../img/BGG.jpg) no-repeat fixed;
    background-size: cover;

    .container {
        h1 {
            text-align: center;
            padding-top: 9rem;
            padding-bottom: 10rem;
            color: #000;

            font-size: 5rem;
            font-family: 'Roboto', sans-serif;
            font-weight: 900;

            -webkit-text-fill-color: #fff;
            -webkit-text-stroke-width: 3px;
        }

        .box-1 {
            width: 40%;
            margin: 0 auto;

            .owl-carousel {
                .n-1 {
                    border-radius: 30px; 
                    padding: 3rem 4rem;
                    background: url(../img/bg2.jpg);
                    background-size: cover;

                    position: relative;

                    .halal {
                        position: absolute;
                        right: 5rem;
                        top: 35rem;

                    }

                    h2 {
                        font-family: 'Roboto', sans-serif;
                        font-size: 4rem;
                        color: #fff;
                        padding: 3rem 0;
                        margin-bottom: 20rem;

                    }

                    img {
                        width: 190px;
                        margin-bottom: 5rem;
                    }

                    p {
                        font-family: 'Roboto', sans-serif;
                        font-size: 3rem;
                        color: #fff;
                        padding-bottom: 5rem;

                    }

                    a {
                        font-size: 3rem;
                        color: #fff;
                        border: 3px solid #fff;
                        border-radius: 1rem;

                        padding: 1.5rem 5rem;

                        margin-bottom: 8rem;

                        transition: .5s;
                    }

                    a:hover {
                        background: #fff;
                        color: #000;
                    }
                }

                .n-2 {
                    border-radius: 30px; 
                    padding: 3rem 4rem;
                    background: url(../img/bg2.jpg);
                    background-size: cover;

                    h2 {
                        font-family: 'Roboto', sans-serif;

                        font-size: 4rem;
                        color: #fff;
                        padding: 3rem 0;

                    }

                    img {
                        width: 190px;
                        margin-bottom: 5rem;
                    }

                    p {
                        font-family: 'Roboto', sans-serif;
                        font-size: 3rem;
                        color: #fff;
                        padding-bottom: 5rem;

                    }

                    a {
                        font-size: 3rem;
                        color: #fff;
                        border: 3px solid #fff;
                        border-radius: 1rem;

                        padding: 1.5rem 5rem;

                        margin-bottom: 8rem;
                    }
                }
            }
        }

        .box-2 {
            .text-box {
                padding: 0 8rem;

                ul {
                    padding-top: 3rem;

                    li {
                        display: block;
                        padding-bottom: 3rem;

                        position: relative;

                        img {
                            width: 130px;
                        }

                        span {
                            position: absolute;
                            top: 50%;
                            left: 20rem;
                            transform: translateY(-50%);
                            color: #fff;

                            font-size: 3rem;
                            font-family: 'Roboto', sans-serif;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}

#block-3 {
    width: 100%;


    background: url(../img/BGG.jpg) no-repeat fixed;
    background-size: cover;

    font-family: 'Roboto', sans-serif;


    .container {
        .row {
            padding: 18rem 9rem;

            .box-11 {
                h2 {
                    font-size: 5rem;
                    color: #fff;
                    padding-bottom: 6rem;
                }

                p {
                    font-size: 5rem;
                    color: rgb(253, 219, 25);
                }

                h3 {
                    font-size: 6rem;
                    color: #fff;
                    padding-top: 5rem;
                    padding-bottom: 6rem;
                }

                .countdown {
                    display: flex;

                    .time-section {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        color: #fff;
                        font-family: sans-serif;
                        padding: 0 30px;
                        border-right: 1px solid #fff;
                        user-select: none;


                        .time-section:last-child {
                            border: none;
                        }

                        .count {
                            font-size: 50px;
                        }

                        .units {
                            font-size: 20px;
                            color: rgb(253, 219, 25);
                        }
                    }
                }
            }

            .box-22 {
                padding: 0 10rem;

                .input-box {
                    width: 500px;
                    padding: 4rem 3rem;
                    background: url(../img/input.png) no-repeat;
                    background-size: cover;
                    border-radius: 20px;

                    ul {
                        li {
                            display: block;
                            color: #fff;
                            font-size: 2rem;

                            input {
                                width: 100%;
                                height: 5rem;
                                margin-top: 1rem;
                                padding-left: 2rem;
                                margin-bottom: 3rem;
                                background: rgba(0, 0, 0, 0.6);
                                border: 2px solid rgba(255, 255, 255, 0.712);
                                color: #fff;
                            }
                        }
                    }

                    .checkbox {
                        color: #fff;
                        font-size: 2rem;
                        justify-content: space-around;
                        padding-bottom: 4rem;
                    }

                    .link {
                        width: 100%;
                        text-align: center;

                        a {
                            font-size: 3rem;
                            color: #fff;
                            margin-top: 5rem;
                            margin-bottom: 6rem;
                            border: 4px solid #fff;
                            border-radius: 10px;
                            padding: 1rem 5rem;

                            transition: .5s;
                        }

                        a:hover {
                            background: #fff;
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}



@media screen and (max-width:1360px) {
    body{
        min-width: 1360px;
    }
  
}